pandas==3.0.2
numpy==2.4.4
sqlalchemy==2.0.50
pymysql==2.2.8
scikit-learn==1.8.0
xgboost==3.2.0
streamlit==1.56.0
plotly==6.7.0
matplotlib==3.10.9
seaborn==0.13.2
faker>=18.0.0
ipykernel
nbconvert
jupyter
